In [1]:
import pandas as pd
import seaborn as se
from IPython.display import display
import matplotlib as plt

In [11]:
sell_price = pd.DataFrame(pd.read_csv("sell_prices.csv"))
calendar = pd.DataFrame(pd.read_csv("calendar.csv"))
sales_train_evaluation =  pd.DataFrame(pd.read_csv("sales_train_evaluation.csv"))

In [2]:

# split sell price: "item id" into, category, sub category, item number.

sell_price[["catergory", "subtype", "item_no"]] = sell_price["item_id"].apply(lambda x: pd.Series(str(x).split("_")))
display(sell_price)

,store_id,item_id,wm_yr_wk,sell_price,catergory,subtype,item_no
0,CA_1,HOBBIES_1_001,11325,9.58,HOBBIES,1,001
1,CA_1,HOBBIES_1_001,11326,9.58,HOBBIES,1,001
2,CA_1,HOBBIES_1_001,11327,8.26,HOBBIES,1,001
3,CA_1,HOBBIES_1_001,11328,8.26,HOBBIES,1,001
4,CA_1,HOBBIES_1_001,11329,8.26,HOBBIES,1,001
...,...,...,...,...,...,...,...
6841116,WI_3,FOODS_3_827,11617,1.00,FOODS,3,827
6841117,WI_3,FOODS_3_827,11618,1.00,FOODS,3,827
6841118,WI_3,FOODS_3_827,11619,1.00,FOODS,3,827
6841119,WI_3,FOODS_3_827,11620,1.00,FOODS,3,827
6841120,WI_3,FOODS_3_827,11621,1.00,FOODS,3,827

In [8]:
sell_price.to_csv("sell_price.csv" )

In [7]:
sell_price

   store_id        item_id  wm_yr_wk  sell_price catergory subtype item_no
0      CA_1  HOBBIES_1_001     11325        9.58   HOBBIES       1     001
1      CA_1  HOBBIES_1_001     11326        9.58   HOBBIES       1     001
2      CA_1  HOBBIES_1_001     11327        8.26   HOBBIES       1     001
3      CA_1  HOBBIES_1_001     11328        8.26   HOBBIES       1     001
4      CA_1  HOBBIES_1_001     11329        8.26   HOBBIES       1     001
5      CA_1  HOBBIES_1_001     11330        8.26   HOBBIES       1     001
6      CA_1  HOBBIES_1_001     11331        8.26   HOBBIES       1     001
7      CA_1  HOBBIES_1_001     11332        8.26   HOBBIES       1     001
8      CA_1  HOBBIES_1_001     11333        8.26   HOBBIES       1     001
9      CA_1  HOBBIES_1_001     11334        8.26   HOBBIES       1     001
10     CA_1  HOBBIES_1_001     11335        8.26   HOBBIES       1     001
11     CA_1  HOBBIES_1_001     11336        8.26   HOBBIES       1     001
12     CA_1  HOBBIES_1_001     11337        8.26   HOBBIES       1     001
13     CA_1  HOBBIES_1_001     11338        8.26   HOBBIES       1     001
14     CA_1  HOBBIES_1_001     11339        8.26   HOBBIES       1     001
15     CA_1  HOBBIES_1_001     11340        8.26   HOBBIES       1     001
16     CA_1  HOBBIES_1_001     11341        8.26   HOBBIES       1     001
17     CA_1  HOBBIES_1_001     11342        8.26   HOBBIES       1     001
18     CA_1  HOBBIES_1_001     11343        8.26   HOBBIES       1     001
19     CA_1  HOBBIES_1_001     11344        8.26   HOBBIES       1     001

In [9]:
sell_price.describe()

           wm_yr_wk    sell_price
count  6.841121e+06  6.841121e+06
mean   1.138294e+04  4.410952e+00
std    1.486100e+02  3.408814e+00
min    1.110100e+04  1.000000e-02
25%    1.124700e+04  2.180000e+00
50%    1.141100e+04  3.470000e+00
75%    1.151700e+04  5.840000e+00
max    1.162100e+04  1.073200e+02

In [20]:
sales_train_evaluation['Total_Sales']=sales_train_evaluation.iloc[:,6:1946].sum(axis=1)
grp_sale = sales_train_evaluation.groupby("dept_id")
grp_sale_agg =  grp_sale.aggregate("sum")

0         632
1         500
2         308
3        3331
4        1888
        ...
2241      932
2242      301
2243      775
2244     2109
2245    11950
Name: Total_Sales, Length: 140, dtype: int64