In [3]:
import pandas as pd  

import matplotlib.pylab as plt  

%matplotlib inline  

import numpy as np  

from scipy.stats import linregress  

import scipy.stats as stats  

from sklearn.tree import DecisionTreeClassifier  

from sklearn.metrics import confusion_matrix  

from matplotlib.colors import ListedColormap  

from sklearn.ensemble import RandomForestClassifier  

from sklearn.cluster import KMeans  

from sklearn.preprocessing import StandardScaler  

from sklearn.model_selection import train_test_split

In [4]:
calendar = pd.read_csv(r"D:\year3\FIT3163\Project\calendar.csv")

In [5]:
evaluation = pd.read_csv(r"D:\year3\FIT3163\Project\sales_train_evaluation.csv")

In [6]:
validation = pd.read_csv(r"D:\year3\FIT3163\Project\sales_train_validation.csv")

In [7]:
prices = pd.read_csv(r"D:\year3\FIT3163\Project\sell_prices.csv")

In [8]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1969 non-null   object
 1   wm_yr_wk      1969 non-null   int64
 2   weekday       1969 non-null   object
 3   wday          1969 non-null   int64
 4   month         1969 non-null   int64
 5   year          1969 non-null   int64
 6   d             1969 non-null   object
 7   event_name_1  162 non-null    object
 8   event_type_1  162 non-null    object
 9   event_name_2  5 non-null      object
 10  event_type_2  5 non-null      object
 11  snap_CA       1969 non-null   int64
 12  snap_TX       1969 non-null   int64
 13  snap_WI       1969 non-null   int64
dtypes: int64(7), object(7)
memory usage: 215.5+ KB

In [18]:
calendar.isnull().any()

date            False
wm_yr_wk        False
weekday         False
wday            False
month           False
year            False
d               False
event_name_1     True
event_type_1     True
event_name_2     True
event_type_2     True
snap_CA         False
snap_TX         False
snap_WI         False
dtype: bool

In [10]:
evaluation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1947 entries, id to d_1941
dtypes: int64(1941), object(6)
memory usage: 452.9+ MB

In [19]:
evaluation.isnull().any()

id          False
item_id     False
dept_id     False
cat_id      False
store_id    False
            ...
d_1937      False
d_1938      False
d_1939      False
d_1940      False
d_1941      False
Length: 1947, dtype: bool

In [11]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1919 entries, id to d_1913
dtypes: int64(1913), object(6)
memory usage: 446.4+ MB

In [20]:
validation.isnull().any()

id          False
item_id     False
dept_id     False
cat_id      False
store_id    False
            ...
d_1909      False
d_1910      False
d_1911      False
d_1912      False
d_1913      False
Length: 1919, dtype: bool

In [12]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6841121 entries, 0 to 6841120
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   store_id    object
 1   item_id     object
 2   wm_yr_wk    int64
 3   sell_price  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 208.8+ MB

In [21]:
prices.isnull().any()

store_id      False
item_id       False
wm_yr_wk      False
sell_price    False
dtype: bool